* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html{
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  width: 100%;
}

ul a.active{
  color: #7F56D9;
  font-weight: 600;
}

ol a.active{
  background: rgba(127, 86, 217, 0.29);
}

.btn{
  font-family: 'Inter', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  padding: 8px 22px;
  margin-right: 5px;
  border: 1px solid #18181B;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
  background: #fff;
  color: #18181B;
  height: min-content;
}
.btn:hover{
  background: #18181B;
  color: #fff;
}