.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    flex-grow: 1;
}

.switchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    margin-bottom: 20px;
}

.editorWrapper{
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    align-self: start;
}

.switchLabel{
    margin: 0 1em 0 0;
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #373737;
}